.card-products {
  box-sizing: border-box;
  width: 340px;
  border-radius: 24px;
  box-shadow: 3px 3px 10px -3px #E1E1E1;
}

.card-header {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 340px;
  height: 441px;
  border-radius: 24px 24px 0 0;
  border: 1px solid #E1E1E1;
  background: #FFFFFF;
}

.card-image {
  display: flex;
  position: relative;
  width: 304px;
  height: 304px;
}

.card-image img {
  width: 304px;
  height: 304px;
}

.producto-likes-button {
  position: absolute;
  box-sizing: border-box;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 62px;
  height: 31px;
  border-radius: 20px;
  border: 1px solid #E1E1E1;
  background: #FFFFFF;
  padding: 8px 12px;
  color: #22222C;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.producto-likes-button img {
  width: 14px;
  height: 12px;
}

.producto-descuento {
  box-sizing: border-box;
  position: absolute;
  right: -20px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 31px;
  border-radius: 20px;
  border: 1px solid #E1E1E1;
  background: #FF8E8E;
  padding: 8px 12px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
}


.card-image-buttons {
  position: absolute;
  bottom: 10px;
  left: 105px;
  display: flex;
  border: 1px solid #E1E1E1;
  border-radius: 20px;
  width: 84px;
  height: 32px;
}

.card-image-buttons .retroseder {
  background: #FFFFFF;
  border-radius: 20px 0 0 20px;
  border: none;
  border-right: 1px solid #E1E1E1;
  height: 32px;
  width: 42px;
  cursor: pointer;
}

.card-image-buttons .siguiente {
  background: #FFFFFF;
  border-radius: 0 20px 20px 0;
  border: none;
  border-left: 1px solid #E1E1E1;
  height: 32px;
  width: 42px;
  cursor: pointer;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-info .container-info {
  display: flex;
  justify-content: space-between;
  width: 276px;
  height: 34px;
}

.container-info div h2 {
  color: #22212C;
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.container-info div h3 {
  color: #22212C;
  font-weight: 400;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.container-info .precios {
  text-align: right;
}

.card-info .product-rate {
  display: flex;
  width: 77.31px;
  height: 11.76px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #F9F9F9;
  width: 340px;
  height: 80px;
  border-radius: 0 0 24px 24px;
  border: 1px solid #E1E1E1;
  padding: 0 31px;
}

.card-footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55px;
  height: 30px;
  font-size: 10px;
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-footer ul .social-icons {
  width: 10px;
  height: 10px;
}

.card-footer button {
  border: none;
  background: #FFFFFF;
  border: 1px solid #EDA836;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  width: 90px;
  height: 31px;
  cursor: pointer;
}
